.table-body.my-review {
  max-height: calc(100vh - 413px);
}

@media screen and (max-width: 599px) {
  .table-body.my-review {
    max-height: calc(100vh - 261px) !important;
  }
}

@media screen and (max-height: 599px) {
  .table-body.my-review {
    max-height: calc(100vh - 275px) !important;
  }
}

@media screen and (max-height: 899px) {
  .table-body.my-review {
    max-height: calc(100vh - 387px);
  }
}