#feeEtcCard table, 
#feeEtcCard tr, 
#feeEtcCard td {
    border: 0 solid black;
    padding-top: 4px;
    padding-bottom: 4px;
}

#soapPrice .form-label {
    margin-bottom: 0;
}
#feeEtcCard .card-body {
    padding-top: 8px;
    padding-bottom: 8px;
}