#feeEtcCard table, 
#feeEtcCard tr, 
#feeEtcCard td {
    border: none;
}

#feeEtcTable .form-label {
    margin-bottom: 0;
}

#feeEtcTable td {
    padding-left: 0;
}

.soap-color {
    color: var(--color-nav-home);
    font-weight: 500;
}