.recharts-surface {
    background-color: var(--color-chart-background);
}

#adminSalesChart .recharts-surface {
    padding: 0;
}

#adminSalesChart .recharts-default-legend {
    padding-bottom: 5px !important;
}

.makeBackLookBig {
    background-color: var(--color-chart-background);
}

.recharts-default-legend {
    padding-bottom: 5px !important;
}

.charts .chart-title {
    color: var(--color-title-ivory);
    font-size: 20px;
}
