.recharts-surface {
    background-color: var(--color-chart-background);
}

#adminUserChart .recharts-surface {
    padding-top: 5px;
}

.recharts-default-legend {
    padding-bottom: 5px !important;
}

.charts .chart-title {
    color: var(--color-title-ivory);
    font-size: 20px;
}
