table {
  margin: 0;
}

th, .text-center{
  text-align: center;
}

.orders_table_div {
  width: fit-content;
  text-align: left;
}

.table-body.my-order {
  max-height: calc(100vh - 386px);
}

@media screen and (max-height: 899px) {
  .table-body.my-order {
    max-height: calc(100vh - 390px);
  }
}