.form-header {
  min-width: 95%;
}

.order-card-width {
  width: 60%;
  max-width: 500px;
  min-width: 300px;
}

.soap-image .card-body {
  width: 100%;
}

@media screen and (max-height: 599px) {
  .soap-image .card-body {
    padding: 0;
  }
}