@import url("recipient.css");

.cartItem {
  margin: 5px 0px;
  text-align: right;
}

.rightColumnParagraph {
  float: right;
  margin-left: 20px; /* Optional: Add space between columns */
  margin-bottom: 0;
  font-weight: 600;
  text-align: right;
}

.grandTotal {
  text-align: end;
}
