li {
  text-align: start;
  font-size: 15px;
  font-weight: 400 !important;
}

h5.orderDigest,
li {
  font-family: 'Toss Product Sans', 'Lucida Sans', Verdana !important;
}

h5.orderDigest {
  font-weight: bold;
}

.order-digest {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative;
  max-height: 300px;
  height: fit-content;
  z-index: 1000;
  background-color: pink;
}