li {
  text-align: start;
  font-size: 15px;
  font-weight: 400 !important;
}

h5.orderDigest,
li {
  font-family: 'Toss Product Sans', 'Lucida Sans', Verdana !important;
}

h5.orderDigest {
  font-weight: bold;
}

ul {
  margin-left: 120px;
}