@import url("recipient.css");

.listLeftLabel {
  margin-bottom: 16px;
  background-color: ivory;
  opacity: 1;
  width: 200px;
  text-align: right;
  border: 1px solid black;
}

.rightColumnParagraph {
  float: right;
  margin-bottom: 0;
  font-weight: 600;
  text-align: right;
}

.grandTotal {
  text-align: end;
}

.bold {
  font-weight: bold;
}