table td.status-paid {
  background-color: #ffb6c1;
}

table td.status-confirmed {
  background-color: #87ceeb;
}

table td.status-default {
  background-color: white;
}

.order-table-container {
  width: 100%;
  height: 57vh;
  overflow: auto;
}