th.iLabel {
  background-color: lightgreen;
  width: 38%;
}

th.aLabel {
  background-color: lightpink;
  width: 20%;
  text-align: right;
}

td.oText {
  min-width: 170px;
  text-align: left;
}

Table.tabWidth {
  min-width: 280px;
}

p.shapeCount {
  margin-bottom: 0;
  text-align: center;
}

th.bold {
  font-weight: bold;
}

th.center {
  text-align: center;
}

tr.hidden {
  visibility: hidden;
}

td.hidden, th.hidden {
  border: none;
}