th.iLabel {
  background-color: lightgreen;
  width: 38%;
}

th.aLabel {
  background-color: lightpink;
  width: 20%;
  text-align: right;
}

td.oText {
  min-width: 170px;
  text-align: left;
}

Table.tabWidth {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

p.shapeCount {
  margin-bottom: 0;
  text-align: center;
}

p.darkFont {
  color: black;
  font-weight: bold;
}

th.bold {
  font-weight: bold;
}

th.center {
  text-align: center;
}

td.centered {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

td.hidden {
  border: none;
}

div.darkBack {
  background-color: rgb(224, 224, 145);
}

div.orderSummaryCol {
  margin: 0 !important;
  align-items: center;
  overflow: auto;
  min-width: 315px;
  padding: 0 !important;
  width: fit-content;
}

table#shapeCountTable {
  max-width: 150px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}

td.addressCell {
  max-width: 270px;
  width: 270px;
  min-width: 270px;
}

.box_section.orders_table_div {
  padding: 1rem !important;
}