th.iLabel {
  background-color: lightgreen;
  width: 38%;
}

th.aLabel {
  background-color: lightpink;
  width: 20%;
  text-align: right;
}

td.oText {
  min-width: 170px;
  text-align: left;
}

Table.tabWidth {
  min-width: 280px;
}

p.shapeCount {
  margin-bottom: 0;
  text-align: center;
}

p.darkFont {
  color: black;
  font-weight: bold;
}

th.bold {
  font-weight: bold;
}

th.center {
  text-align: center;
}

td.centered {  
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

td.hidden {
  border: none;
}

div.darkBack {
  background-color: rgb(224, 224, 145);
}