.admin-body {
  top: 62px;
  background-color: salmon;
  position: relative;
  height: calc(100vh - 62px);
}

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .admin-body {
    width: 100vw;
  }
}

.admin-body .header {
  box-shadow: 0 6px 7px -3px rgba(229, 161, 207, 0.55);
}

.sideDiv {
  width: 25%;
}

.admin-main {
  justify-content: center;
  background-color: rgba(30, 19, 33, 0.85);
  color: var(--color-title);
  font-family: 'GmarketSans', 'Montserrat', sans-serif;
  height: calc(100% - 134px);
}