.admin-customer-table-container {
    max-height: 420px;
    /* 원하는 최대 높이 설정 */
    width: calc(100% - 200px);
    overflow: auto;
    /* 내용이 최대 높이를 초과할 때 스크롤바 표시 */
    border-radius: 5px;
}

.admin-customer-table {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#customer-table-card {
    margin-top: 0;
    width: 100%;
    height: calc(100% - 177px);
    overflow: auto;
}

#customer-table-card.card {
    overflow-y: auto !important;
}

.admin-main-content .main-container {
    height: calc(100vh - 345px);
}

@media screen and (max-width: 992px) {
    .main-container {
        padding: 0 !important; 
    }
}