form.question-editor-window {
  max-width: 750px;
  background-color: ivory;
  margin: 16px;
  padding: 16px;
}

.question-editor-modal {
  background-color: ivory;
}

.ql-container {
  background-color: white;
  font-size: 16px;
  height: 180px;
}

.customerQuestionCard {
  margin-top: 28px;
  width: 100vw;
  max-width: 700px;
  background-color: ivory;
  border-radius: 6px;
}