form.question-editor-window {
  max-width: 750px;
  min-width: 450px;
  width: 75%;
  background-color: ivory;
  margin: 16px;
  padding: 16px;
}

.question-editor-modal {
  background-color: ivory;
}

.content-edit {
  height: 230px ;
  margin-bottom: 70px;
}