form.question-editor-window {
  max-width: 750px;
  background-color: white;
  margin: 12px;
  padding: 0 12px 12px 12px;
}

.question-editor-modal {
  background-color: white;
  padding-top: 0;
}

.ql-editor {
  background-color: ivory;
  max-height: 500px;
}

.ql-container {
  background-color: white;
  font-size: 16px;
}

.customerQuestionCard {
  width: 100%;
  max-width: 1075px;
  background-color: white;
  border-radius: 6px;
  margin-top: 0 !important;
}

.customerQuestionCard .card-body {
  min-width: 461px;
}

#questionEditorContainer {
  max-height: calc(100vh - 62px);
  align-items: center;
}

#question-followup-modal .modal-content {
  height: fit-content;
}

.main-content>#questionEditorContainer {
  position: relative;
  top: 62px;
  height: calc(100vh - 62px);
}

.question-title-input {
  background-color: ivory;
  width: 70%;
  max-width: 500px;
}