.bold {
  font-weight: bold;
}

.serif {
  font-family: "Noto Serif KR", "Noto Sans Korean", Cambria, Cochin, Georgia, Times;
}

.me-auto .nav-link {
  font-weight: bold;
}

.navbar {
  --bs-navbar-active-color: var(--color-nav-home);
  --color-nav-link-hover: crimson;
}

.navbar-nav .nav-link:hover {
  color: var(--color-nav-link-hover) !important;
}

.dropdown-item:hover {
  color: crimson !important;
  font-weight: bold;
}

.narrow-left-space {
  margin-left: 4px;
}

.navbar-nav {
  color: white;
  font-weight: bold;
}

.userTitle {
  flex-direction: row;
}

.navbar.container {
  margin-left: 60px;
  margin-right: 60px;
  width: calc(100vw - 120px);
  min-width: calc(100vw - 120px);
}

#responsive-navbar-nav {
  margin-bottom: 8px;
}

@media (max-width: 599px) {
  #responsive-navbar-nav {
    padding-left: calc(100vw - 215px);
  }
}

/* Hide active link text on desktop (screens larger than lg breakpoint) */
@media (min-width: 993px) {
  .active-link-text-mobile {
    display: none;
  }
}

/* Optional: Adjust spacing on mobile */
@media (min-width: 600px) and (max-width: 992px) {
  #responsive-navbar-nav {
    padding-left: calc(100vw - 215px);
  }
}

@media screen and (max-width: 992px) {
  .navbar-toggler {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .active-link-text-mobile {
    text-decoration: none !important;
    font-size: smaller;
    font-weight: bold;
    margin-right: 5px;
    /* Add any mobile-specific styling here */
    color: #000;
    /* or whatever color matches your design */
  }

  button#mainHamburger {
    text-decoration: none !important;
  }
}