.table-row {
  font-weight: bold;
}

thead,
tbody {
  opacity: 0.9;
  font-family: "Noto Serif KR", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

h2.details {
  text-align: left;
  font-size: 1.3em;
  background-color: ivory;
}

.allIngred {
  background-color: rgb(236, 233, 233, 0.9);
}

.legendFont {
  font-family: "Noto sans KR", Cambria, Cochin, Georgia, Times;
  font-size: 0.85em;
}