.content {
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  color: black;
}

.content.expanded {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

/* Add these styles for table row accordion */
.accordion-row {
  display: table-row;
  vertical-align: inherit;
}

.accordion-content {
  visibility: collapse;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.accordion-content.expanded {
  visibility: visible;
  max-height: 1000px; /* Large enough to contain content */
  opacity: 1;
  transition: all 0.5s ease-in;
}

/* Hide the content cells when collapsed */
.accordion-content td {
  height: 0;
  padding: 0 !important;
  border: none !important;
}

.accordion-content.expanded td {
  height: auto;
  padding: 0.5rem !important;
  border: inherit !important;
}

button {
  border: 0;
}

th {
  border: 1px solid black;
  color: #0000FF !important;
}

.sumRow {
  font-weight: bold;
}

.sumRow td {
  color: #0000FF !important;
}

#ingredientTable img {
  width: 175px;
}
