.table-row {
  font-weight: bold;
}

thead,
tbody {
  opacity: 0.9;
  font-family: "Noto Serif KR", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

h2.details {
  text-align: left;
  font-size: 1.3em;
  background-color: ivory;
}

.legendFont {
  font-family: "Noto sans KR", Cambria, Cochin, Georgia, Times;
  font-size: 0.85em;
}

#soap-intro-container #ingredCard {
  background-color: #fdf6e3;
  max-height: calc(100vh - 155px) !important;
  height: fit-content !important;
}

@media (max-width: 576px) or (orientation: portrait) {
  #soap-intro-container #ingredCard {
    width: calc(100vw - 24px);
  }
}

@media (max-width: 576px) or (max-height: 576px) {
  #soap-intro-container #ingredCard {
    height: fit-content !important;
    max-height: calc(100vh - 113px) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}