.accordion-parent {
  border-radius: 3px;
  background-color: rgb(243, 233, 233);
  box-shadow: 0 1px 2px #00000033;
  opacity: 0.9;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion .toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 10px 15px;
  fill: black;
  color: black;
  transition: color 0.15s ease, fill 0.15s ease;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.accordion .toggle:hover {
  color: #6d6d6d;
  fill: #6d6d6d;
}

.accordion:first-child .toggle {
  border-bottom: 0;
}

.accordion .toggle .direction-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  font-weight: 600;
}

.content-parent {
  background-color: ivory;
  font-family: "Noto Serif KR", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-weight: bold;
    list-style-type: disc;
}

.accordion .content-parent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  color: black;
  border-bottom: 1px solid #aaa;
}

.accordion.toggled .content-parent {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.accordion .content {
  padding: 10px 15px;
}

.discType {
  list-style-type: disc;
}

li {
  display: list-item;
}

.content {
  display: inline;
}

.frame-10 {
  margin: 10;
}
