table.stepInfo, tr, td {  
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

td.WARNING, span.WARNING {
  color: red;
}

tbody tr, thead, li.stress {
  color: blue;
  margin: 0 .5em;
  font-family: "Noto sans KR", Cambria, Cochin, Georgia, Times; 
}

thead {
  text-align: center;
}
td {
  padding: 0.5em;
  text-align: center;
}

img.ingredTabImg {
  width: 399px;
  height: 232px;
  border-radius: 3px;
  border: none;
  box-shadow: 3px 3px;
}

#special-span {
  font-family: Lucida Sans Unicode, sans-serif;
  font-weight: bold;
}

tbody td.INFO {
  color: black;
}q

ol ul {
  font-size: 0.9em;
  color: darkgreen;
}

ol > li {
  margin-top: 1em;
  margin-bottom: .7em;
  font-size: 16px;
  font-weight: bold;
}

li img {
  border-radius: 10px;
}

.stepInfo, tr {  
  width: 100%;
}
