.card {
  margin: 0;
}

.accordion-parent {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 2px #00000033;
  display: grid;
  margin: 1em;
  margin-top: 1.5em;
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.accordion {
  display: flex;
}

.accordion .toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 5px 10px;
  fill: black;
  color: black;
  transition: color 0.15s ease, fill 0.15s ease;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.accordion .toggle:hover {
  color: #6d6d6d;
  fill: #6d6d6d;
}

.accordion:first-child .toggle {
  border-bottom: 0;
}

.accordion .toggle .direction-indicator {
  display: flex;
  align-items: center;
  width: 15px;
  font-weight: 600;
  font-family: "Noto Serif KR", "Noto Sans Korean", Cambria, Cochin, Georgia, Times;
}

.accordion .content-parent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  color: black;
}

.accordion.toggled .content-parent {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.accordion .content {
  padding-left: 12px;
}

span.simple {
  font-family: "Sans Serif", "Noto Sans Serif", Times;
  font-weight: 400;
}

.button-indicator-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0;
}

.button-indicator-wrapper p {
  margin-bottom: 0;
}

.toggle {
  width: 100%;
}

.content {
  padding-top: 0;
  height: auto;
  max-height: 1000px;
}
