table.stepInfo, tr, td {  
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

td.WARNING, span.WARNING {
  color: red;
}

tbody tr, thead, li.stress {
  color: blue;
  margin: 0 .5em;
  font-family: "Noto sans KR", Cambria, Cochin, Georgia, Times; 
}

thead {
  text-align: center;
}
td {
  padding: 0.5em;
  text-align: center;
}

img.ingredTabImg {
  width: 399px;
  height: 232px;
  border-radius: 3px;
  border: none;
  box-shadow: 3px 3px;
}