.tabBackgroundThick {
  background-color: rgb(103, 172, 183);
}

.soapIntroduction .card {
  height: fit-content;  
  margin: 0;
}

#soap-intro-container .card{
  height: calc(100% - 20px) !important;
}