.worker-body {
  top: 62px;
  background-color: rgba(23, 9, 100, 0.3);
  position: relative;
  height: calc(100vh - 62px);
}

.worker-body .header {
  background-color: var(--color-modal-2nd);
}

.main-container.worker {
  padding: 0 20px;
  opacity: 0.9;
  height: 100%;
  margin-bottom: 0;
}

.order-table-container,
.ingredient-table-container {
  background-color: lightblue;
  border-radius: 10px;
}

.worker tr th:first-child,
.worker tr td:first-child {
  border-left: none;
}

.worker-dashboard {
  height: fit-content !important;
}

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 62px 1fr;
    grid-template-areas:
      'header'
      'main';
  }
}

.worker-dashboard .header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 7px -3px rgba(155, 240, 246, 0.35);
}

#sidebar a {
  margin-left: 17px;
}

.worker-main-content {
  height: 100% !important;
  padding: 1.5rem;
  transition: "all 0.3s ease";
  z-index: 1000;
}

.worker-body .main-container {
  background-color: rgba(44, 29, 29, 0.9);
  border-radius: 5px;
  padding: 20px;
}

#workerJobTable {
    width: calc(100% - 30px);
    margin: 15px;
}
