.button {
    width: 40% !important;
}

#login-container {
    position: relative;
    top: 62px;
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MUI small <= 599px */
@media screen and (max-height: 599px) {
    #background-carousel {
        height: fit-content !important;
    }

    #login-container {
        top: 46px;
        height: calc(100vh - 46px);
    }

    #login-col {
        min-height: unset !important;
    }
    
    #login-row {
        overflow: auto;
        margin-top: 0 !important;
        position: relative;
    }
    
    #login-title {
        margin-bottom: 0 !important;
    }
    
    #save-login-container {
        margin-top: 0 !important;
    }
}
