.button {
    width: 40% !important;
}

#login-container {
    position: relative;
    top: 62px;
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.enable-account-modal {
    width: 360px !important;
}

#pwdReset {
    font-size: 0.8em;
    width: 70px;
    height: 24px;
    padding: 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 222, 243);
    border-color: skyblue;
    color: orangered;
    font-weight: 500;
}

/* MUI small <= 599px */
@media screen and (max-height: 599px) {
    #background-carousel {
        height: fit-content !important;
    }

    .card {
        margin: auto 0 !important;
    }

    #login-container {
        top: 46px;
        height: calc(100vh - 46px);
    }

    #login-col {
        min-height: unset !important;
    }

    #login-row {
        overflow: auto;
        height: 100%;
    }

    #login-title {
        margin-bottom: 0 !important;
    }

    #save-login-container {
        margin-top: 0 !important;
    }
}