.button-div {
  bottom: -16px;
  position: sticky;
  align-items: center;
  width: 100%;
}

.button-div>button {
  margin-top: auto;
  background-color: #F5D463;
  font-weight: bold;
  color: navy;
}

.homeRow.row {
  height: calc(100vh - 130px);
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: auto;
}

.homeCol .card-body {
  height: 100%;
  overflow: auto !important;
  margin-top: 1em;
}

.homeRow .card {
  height: calc(100vh - 150px);
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .homeCol {
    width: 80vw;
    max-width: 500px;
    padding: 0;
  }

  .homeRow .card {
    height: calc(100vh - 150px) !important;
  }
  
  .homeCol .card-body {
    height: calc(100vh - 505px);
    max-height: fit-content
  }
  
  .homeRow.row {
    max-height: calc(100vh - 200px);
    height: calc(100vh - 130px);
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: auto;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .homeRow .homeCol {
    width: 100vw;
    padding: 0 !important;
    margin: 0 !important;
  }

  .homeRow .card {
    margin: 0 !important;
    padding: 5px !important;
    width: 100vw !important;
    height: calc(100vh - 144px);
  }
}