.chart-row .header-card {
  height: 72px;
}

#overviewUser .chart-container {
  flex-basis: calc(50% - 20px);
  margin: 0;
}

#overviewUser h5 {
  margin-top: 5px;
}

.card {
  margin-bottom: 0;
}

.chartDiv {
  height: 250px;
}

.chartDiv h5 {
  padding: 8px;
}

.chartDiv .userChart {
  width: 100%;
  height: 95% !important;
}

tspan {
  font-size: 15px;
}

.chartUser {
  min-width: 370px !important;
}

.chartUserCol {
  margin: 0 0 1.5rem !important;
  width: 100vw;
  max-width: fit-content;
  height: 400px;
  overflow: auto;
}