h5 {
  font-family: "Noto Serif KR", "Noto Sans Korean", Cambria, Cochin, Georgia, Times;
}

.nav-tabs {
  border-bottom: 2px solid #dbcaca;
}

.nav-tabs .nav-link.active {
  color: #dbcaca;
  background-color: rgb(1, 58, 67);
  font-weight: bold;
}

.nav-tabs .nav-link {
  color: #000000;
}

.nav-tabs .nav-link:hover {
  color: whitesmoke;
}

.table td,
.table th {
  vertical-align: middle;
}

.tab-content {
  justify-content: center;
  display: flex;
  height: calc(100% - 51px);
}

.home-container.user-dashboard {
  background-color: rgba(34, 28, 8, 0.7);
  padding: 0;
}

.tableNmodal {
  display: flex;
  overflow: auto;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.user-dashboard .tableCard {
  width: 100vw;
  max-width: 950px;
  height: calc(100vh - 168.5px);
  margin-top: 28px;
}

/* 소형폭 미디어 */
@media screen and (max-width: 576px) {
  .main-content {
    height: 100%;
  }

  .home-container.user-dashboard {
    height: calc(100vh - 62px) !important;
    margin: 0;
  }

  .mobile-tab-content {
    padding: 0 !important;
    height: calc(100% - 45px) !important;
  }

  .user-dashboard .tableCard {
    height: 100%;
    margin-top: 0;
  }
}

.mobile-tab-header {
  padding: 3px;
  border-bottom: 1px solid #dee2e6;
}

.hamburger-menu {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-tab-content {
  padding: 1rem 0;
}

/* For React-Bootstrap Tabs */
.scrollable-tabs.nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling on iOS */
  scrollbar-width: thin;
  /* For Firefox - thinner scrollbar */
}

.scrollable-tabs.nav-tabs .nav-item {
  float: none;
  display: inline-block;
}

.scrollable-tabs.nav-tabs .nav-link {
  white-space: nowrap;
}

/* Optional: Hide scrollbar on Webkit browsers but keep functionality */
.scrollable-tabs .nav-tabs::-webkit-scrollbar {
  height: 4px;
}

.scrollable-tabs .nav-tabs::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollable-tabs .nav-tabs::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.hamburger-menu.btn {
  /* background: none; */
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: yellow;
}

.hamburger-menu.btn:hover {
  color: pink;
}

.scrollable-tabs.nav-tabs {
  margin-left: 3px;
  font-size: 0.9rem;
}

.scrollable-tabs .nav-link h5 {
  font-size: 16px;
  font-weight: bold;
}

.scrollable-tabs .nav-link {
  padding: 0.5rem 0.5rem;
}
