.profileItems>.card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.setBorder {
  background-color: pink !important;
}

#userProfile td {
  padding: 4px;
}

#userProfile td {
  border: 6px solid white;
}

#userProfile p {
  padding: 2px;
}

#userProfile #legendRow {
  height: 38px !important;
}

#legendRow td {
  padding: 0;
}

#switch-2FA {
  padding: 0;
  text-align: start;
  background-color: pink;
}

#legendBlock {
  width: 38px !important;
}

@media (max-width: 575px) {
  .home-container .card {
    margin-top: 40px !important;
    margin-bottom: 0 !important;
  }
}