.profileItems>.card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

#userProfile td {
  padding: 2px;
}

.form-control {
  border-radius: 0;
  padding: 3px 2px 3px 4px;
}

#userProfile td {
  border: 1px solid white;
}

#userProfile p {
  padding: 2px;
}

#userProfile #legendRow {
  height: 30px !important;
}

#legendRow td {
  padding: 0;
}

#switch-2FA {
  padding: 0;
  text-align: start;
  border-radius: 5px;
}

#legendBlock {
  width: 30px !important;
  background-color: pink;
}

#userInfoCard {
  overflow: auto;
}

#changePasswordLink {
  min-width: 100px;
}

#profileChangeLink {
  font-weight: bold;
  min-width: 60px;
  max-width: fit-content;
  border: 4px solid var(--color-act-change);
}

#QRcodeButton {
  font-size: .8em;
  font-weight: 700;
  text-decoration: none;
  color: blue;
}

#switch-2FA .form-label {
  position: relative;
  top: 2px;
}

#box-2FA {
  border: 1px solid black;
}

#twoFA-QR-div > img {
  margin-top: .5em;
}

#googleAuthenticatorCode {
  border: 1px solid blue;
  border-radius: 3px;
  width: 200px;
  background-color: pink;
  margin-top: 1em;
  padding: 1px 5px;
}

#googleCodeVerifyButton {
  background-color: var(--color-act-change);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
}

.twoFAmodal .modal-content {
  width: 70%;
}

.disable-account-confirm {
  width: 360px;
}

#disableAccountButton {
  background-color: pink;
  color: navy;
  font-weight: bold;
  border: none;
}

@media (max-width: 575px) {
  .home-container .card {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}