body li {
  font-family: "Noto Serif KR", Cambria, Cochin, Georgia, Times,
    "Times New Roman", sans-serif;
}

li {
  font-weight: 500;
}

h3 {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

h6 {
  color: var(--color-title);
  font-size: 14px;
}

.title {
  color: rgb(13, 116, 116);
  font-family: "Noto Sans KR", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: 16px;
}

.employee-image {
  border-radius: 100%;
  max-width: 100px;
  height: 100px;
}

.footer {
  background-color: var(--color-modal);
  color: var(--color-white);
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 2.5rem;
  margin-top: auto;
}

.modal-footer {
  background-color: var(--color-modal);
  color: var(--color-white);
  padding: 10px;
}

.modal-header {
  background-color: var(--color-modal);
  color: var(--color-white);
  padding: 10px;
}

.nav-bg {
  background-color: var(--color-modal);
  position: fixed;
  height: 5%;
  max-height: 52px;
}

.nav-link {
  color: var(--color-white);
}

.nav-home {
  color: var(--color-nav-home);
  font-weight: bold;
  font-family: "Noto Serif KR", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-style: italic;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-title);
}

.link {
  text-decoration: none;
  margin-bottom: 4px;
  color: var(--color-nav-home);
  font-size: 14px;
}

.link-2 {
  text-decoration: none;
  color: #3aa0e0;
  font-size: 16px;
}

.field-set {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.legend {
  font-size: 18px;
  color: var(--color-title);
}

/* For password icon input */
.password-input {
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* End password icon input */

.user-dashboard {
  background-color: var(--user-dashboard-background);
  padding: 10px;
  height: auto !important;
}

.small-carousel-container {
  max-width: 100%;
  margin: auto;
}

.small-carousel .carousel-inner {
  height: 400px;
}

.small-carousel img {
  object-fit: cover;
  height: 100%;
}

.about {
  font-size: 18px;
  color: darkslategrey;
}

.unauthorized {
  /* <a href="http://www.freepik.com">Designed by stories / Freepik</a> */
  background-image: url("./assets/images/unauthorized.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.returnLink {
  font-size: 1.2em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.identity {
  color: deeppink;
}

.tabBackground {
  background-color: rgba(160, 205, 212);
}

.tabFix {
  position: sticky;
  z-index: 100;
  top: 62px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.contentHolyCentered {
  align-items: center;
  justify-content: center;
}

.minDateWidth {
  min-width: 105px;
}

tr.userTableHeader > th {
  background-color: lightblue;
}