.eduModalDialog {
    width: 380px;
}

.strong {
    font-weight: bold;
}

.eduModalDialog .btn-close {
    margin-right: 0;
}

.eduModalDialog .modal-footer {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: var(--bs-modal-border-radius) !important;
    border-bottom-left-radius: var(--bs-modal-border-radius) !important;
}