.pwdRule {
    border: 1px solid darkgrey;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
}

.pwdRule li {
    font-size: 0.8em;
    line-height: 0.9;
}

#pwdRuleTitle {
    font-size: 0.85em;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
}

#pwdRstModalBodyTop {
    padding-bottom: 0;
}

#pwdRstModalBodyBottom {
    padding-top: 0;
}

.spinner-border {
  width: 20px;
  height: 20px;
  border-width: 2px;
}